DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@database:5432/course_recommendation_db
DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=YOUR_PASSWORD
DATABASE_NAME=course_recommendation_db
SECRET_KEY=YOUR_SECRET_KEY
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY

